<!-- container for showing weather related info -->
<main>
  <div class="container">

    <div class="top-section">
      <img *ngIf="temperature <= 15" src="../assets/cold-weather.jpg" alt="cold-weather" class="weather-img">
      <img *ngIf="temperature > 15" src="../assets/hot-weather.jpg" alt="hot-weather" class="weather-img">

      <div class="weather-data">
        <div class="location">
          Delhi
        </div>
        <div class="temperature">
          {{14.04 | number : '1.0-0'}}°C
        </div>
      </div>
    </div>

    <div class="bot-section">
      <div class="info-label">More Information</div>

      <div class="info-container">
        <!-- min temperature block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/min-temp.png">
            <span>min</span>
          </div>
          <div class="info-block-value">
            13°C
          </div>
        </div>

        <!-- max temp info block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/max-temp.png">
            <span>max</span>
          </div>
          <div class="info-block-value">
            13°C
          </div>
        </div>

        <!-- humidity info block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png">
            <span>humidity</span>
          </div>
          <div class="info-block-value">
            60%
          </div>
        </div>

        <!-- wind info block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png">
            <span>wind</span>
          </div>
          <div class="info-block-value">
            12km/h
          </div>
        </div>

      </div>
    </div>
  </div>

</main>